.container {
  max-width: 800px;
  width: 100%;
  padding: 10px;
  text-align: center;
  margin-inline: auto;
  margin-bottom: 20px;
}

.button {
  display: flex;
  justify-content: center;
  gap: 20px;
}