body {
  padding-top: 100px;
}

* {
  margin: 0;
}

.container {
  max-width: 800px;
  width: 100%;
  padding: 10px;
  text-align: center;
  margin-inline: auto;
}

.button, .score {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.result {
  gap: 50px;
}